
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: white; 
    --secondary-color: #0A3871;
    --tertiary-color: gray;

    --fuente-inter: "Inter", sans-serif;
}

body{
    background-color: var(--primary-color);

}
.imagen__logo{
    margin: 40px;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.caja__encriptar{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    height: 76%;
    justify-content: space-between;
}

.caja__texto{
    font-size: 2rem;
    width: 577px;
    color: var(--secondary-color);
    border: none;
    outline: none;
    margin:80px 0px 0px 0px ;
    font-family: var(--fuente-inter);
    resize: none;

}

.parrafo{
    color: var(--tertiary-color);
    font-weight: 400;
    margin-bottom: 1rem;
    display: flex;
    gap: 3px;
    font-family: var(--fuente-inter);
}
.texto__botones button{
    width: 328px;
    height: 67px;
    font-size: 1rem;
    border-radius: 1.5rem;
}
.botones{
    display: flex;
    gap: 1.5rem;
    font-family: var(--fuente-inter);
}

.btn-azul{
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
}
.btn-gris{
    background-color: #D8DFE8;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}



/*Section para el texto ya encriptado*/
.caja__texto__encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    margin: 40px;
    border-radius: 32px;
    box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.2);
}

.titulos{
    display: flex;
    flex-direction: column;
    margin: 32px;
    gap: 1rem;
    font-family: var(--fuente-inter);
    text-align: center;
}
.titulo__caja{
    font-size: 1.5rem;
    font-weight: 700;
}
.subtitulo__caja{
   font-size: 1rem;
   font-weight: 400;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    border-radius: 1.5rem;
    background-color: #D8DFE8;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    margin-top: 160px;
}

.p-encriptado{
    margin-bottom: 200px;    
    font-family: var(--fuente-inter);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    word-break: break-word;
}
.container{
    margin: auto;
    text-align: center;
}